In [13]:

import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv("..\project-3-group-5\melbourne_ta_reviews.csv")

# Split the "address" column into "street", "suburb", and "postcode" columns
split_data = df['address'].str.split(', ', expand=True)
df['Address'] = split_data[0]
df['City'] = split_data[1]
df['postcode'] = split_data[2].str.split(' ', expand=True)[1]

# Convert "postcode" column to numeric, coercing non-numeric values to NaN
df['postcode'] = pd.to_numeric(df['postcode'], errors='coerce')

# Drop rows with NaN values in the "postcode" column
df = df.dropna(subset=['postcode'])

# Drop the original "address" column
df.drop(columns=['address'], inplace=True)

# Drop rows with NaN values in the "postcode" column
df = df.dropna(subset=['postcode'])

# Convert postcode column to integer
df['postcode'] = df['postcode'].astype(int)

# Save the DataFrame to a new CSV file
df.to_csv("updated_csv.csv", index=False)

df.head(20)

,name,rankingPosition,priceLevel,category,rating,numberOfReviews,Address,City,postcode
0,Hopetoun Tea Rooms est. 1892,26,$$ - $$$,restaurant,4.5,2311,421 Bourke St Hopetoun Tea Rooms,Melbourne,3000
1,Da Guido La Pasta,2,$$ - $$$,restaurant,4.5,1095,130 Lygon St Carlton,Melbourne,3053
2,Foglia di Fico,3,$$ - $$$,restaurant,5.0,202,585 La Trobe St (Spencer St entrance),Melbourne,3000
4,Kazuki's,9,$$$$,restaurant,4.5,500,121 Lygon St Carlton,Melbourne,3053
5,Hochi Mama,17,$$ - $$$,restaurant,4.5,1469,35 Little Bourke St,Melbourne,3000
6,Sezar,18,$$ - $$$,restaurant,4.5,1024,6 Melbourne Pl,Melbourne,3000
7,The French Brasserie,19,$$$$,restaurant,4.5,721,2 Malthouse Lane,Melbourne,3000
8,The Railway Club Hotel Steakhouse,24,$$ - $$$,restaurant,4.5,680,107 Raglan St Port Melbourne,Melbourne,3207
9,Bistrot d'Orsay,29,$$ - $$$,restaurant,4.5,497,184 Collins St,Melbourne,3000
10,Da Guido 365,7,$$ - $$$,restaurant,4.5,524,365 Little Collins St,Melbourne,3000
11,Roule Galette Melbourne,8,$,restaurant,4.5,604,241 Flinders Lane Shop 1,Melbourne,3000
12,Eau De Vie,15,$$ - $$$,restaurant,4.5,814,1 Malthouse Lane,Melbourne,3000
13,Tipo 00,20,$$ - $$$,restaurant,4.5,823,361 Little Bourke St,Melbourne,3000
14,Ruyi Modern Chinese,25,$$ - $$$,restaurant,4.5,377,16 Liverpool St,Melbourne,3000
15,David's Master Pot (Elizabeth St - CBD),21,$$ - $$$,restaurant,5.0,140,462 Elizabeth St,Melbourne,3000
16,Longrain,28,$$ - $$$,restaurant,4.5,1172,44 Little Bourke St,Melbourne,3000
17,Straight Outta Saigon,13,$$ - $$$,restaurant,4.5,337,138 Russell Street Ground level,Melbourne,3000
18,Patricia Coffee Brewers,27,$,restaurant,4.5,212,493-495 Little Bourke St,Melbourne,3000
19,Coda,49,$$$$,restaurant,4.5,1150,141 Flinders Lane,Melbourne,3000
20,Bowery to Williamsburg,55,$$ - $$$,restaurant,4.5,322,16 Oliver Lane,Melbourne,3000