In [13]:
import pandas as pd

# Specify the file path
file_path = 'data_with_coordinates.csv'  # Replace 'your_file.csv' with the path to your CSV file

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the DataFrame
df.head()

,name,cuisinetype,rankingPosition,priceLevel,category,rating,address,numberOfReviews,latitude,longitude,postcode
0,1806,Bar,110,$$ - $$$,restaurant,4.5,"169 Exhibition St, Melbourne, Victoria 3000 Au...",259,-37.811648,144.970112,3000
1,+39 Pizzeria,Italian,48,$$ - $$$,restaurant,4.5,"362 Little Bourke St, Melbourne, Victoria 3000...",1232,-37.813283,144.961764,3000
2,11 Inch Pizza,Italian,4,$,restaurant,4.5,"Shop 7A 353 Little Collins St, Melbourne, Vict...",324,-37.815600,144.962920,3000
3,1932 Cafe & Restaurant,Australian,50,$$ - $$$,restaurant,4.5,"220 Collins St Manchester Unity Building, Melb...",443,-37.815327,144.966169,3000
4,3 Brothersss Indian Restaurant,Indian,228,$$ - $$$,restaurant,5.0,"513 Elizabeth St Queen Victoria Market, Melbou...",41,-37.807580,144.956785,3000

In [16]:
import geoplotlib
from geoplotlib.utils import read_csv
import numpy as np

# Rename the columns
df = df.rename(columns={'latitude': 'lat', 'longitude': 'lon'})

df.head(3)
# Plot the longitude and latitude coordinates
geoplotlib.dot(df)
geoplotlib.show()